body{

    margin: 0;  
    padding: 0; 
    font-family: sans-serif;  
   /* background-image: url(ssea.jpg);*/
  
   background-image: url(background.gif);
   /* background-color: #2b85c1;*/
    background-repeat: no-repeat;
    background-size:100%;
  }
  
  .main{
	height: 500px;
    /*background-image: url(ssea.jpg);*/
    background-color: white;

 opacity: 0.9;
	overflow:hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
    width: 500px;
    padding: 0px; 
    position: absolute;  
    top: 5%;  
    left: 30%;  
 
}
  
  .main h1{
    color: #08023e;  
    text-transform: uppercase;  
    font-weight: 500;
  
  }
  
  .main input[type = "text"],.main input{
  
    border:0;
    background: none; 
    display: block;  
    margin: 20px auto;  
    text-align: center;  
    border: 2px solid #0a36c6;  
    padding: 14px 10px;  
    width: 200px; 
    outline: none; 
    color: #08023e;  
    border-radius: 24px;  
    transition: 0.25s;
    
  
  }
  
  .main input[type = "text"]:focus,.main input:focus{ 
    width: 280px;  
    border-color: #0a36c6;  
  }
  
  .main button[type="submit"]{ 
    border:0; 
    background: none; 
    display: block; 
    margin: 20px auto; 
    text-align: center;  
    border: 2px solid #0a36c6; 
    padding: 14px 40px;  
    outline: none;  
    color: #08023e;  
    border-radius: 24px; 
    transition: 0.25s; 
    cursor: pointer;  
  }
  
  .main button[type ="submit"]:hover{ 
    background: #0a36c6;
  
  }

#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: rgb(2, 2, 64);
	font-size: 3.0em;
	justify-content: center;
	display: flex;
  margin-top:10px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 15px;
	justify-content: center;
	display: flex;
	margin-top: 30px ;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.login{
	height: 600px;
    width:500px ;
	background:#03294f;
	border-radius: 60% / 10%;
	transform: translateY(-85px);
	transition: .8s ease-in-out;
    margin-left: 0px;
    text-align: center;
    
}
.login label{
	color: #dedce7;
	transform: scale(.5);
}

#chk:checked ~ .login{
	transform: translateY(-410px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.5);
}
.error {

  
  color: red;
  padding: 10px;
  width: 55%;
  border-radius: 5px;
  margin: 20px auto;
  text-align: center;
 

}
